.chatbox{
    position:fixed;
    right: 0;
    bottom: 0;
    width: rem(410px);
    height: rem(569px);
    z-index: 1000;
    transform: translateY(100%);
    transition: all 0.3s;

    &__container{
        width: rem(370px);
        height: rem(530px);
        margin: rem(20px);
        box-shadow: 0 rem(4px) rem(16px) $chat-shadow;
        border-radius: rem(15px);
        overflow: hidden;
        
    }

    &__content{
        display: flex;
        flex-direction: column;

        &-header{
            background-color: $whiteColor;
            position: relative;
            height: rem(100px);
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0 rem(24px);

            &--crossicon{
                position: absolute;
                top: rem(18px);
                right: rem(18px);
            }

            &--icon{
                font-size: 1.5rem;
                cursor: pointer;
            }

            &--icon:hover{
                opacity: 0.5;
            }

            &--logo{
                width: rem(60px);
                height: rem(60px);
                margin-right: rem(22px);
            }

            &--logocontainer{
                width: 100%;
                height: 100%;
                position: relative;
            }

            &--status{
                height: rem(10px);
                width: rem(10px);
                background-color: $active-status;
                border: rem(1px) solid $whiteColor;
                border-radius: 100%;
                position: absolute;
                bottom: 7%;
                right: 7%;
            }

            &--imagecontainer{
                width: 100%;
                height: 100%;
                border-radius: 100%;
                overflow: hidden;
                box-shadow: 0 0 rem(7px) 0 $chatlogo-shadow;
            }

            &--image{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            &--maintext{
                font-size: rem(24px);
                line-height: rem(31px);
                font-weight: 600;
                
            }
            &--description{
                color: $chat-secondaryText;
                line-height: rem(19px);
            }
        }

        &-chatarea{
            height: rem(345px);
            overflow-y: scroll;
            width: 100%;
            background-color: $chatarea-bg;
            // background-color: green;

            &--chatdetails{
                padding: rem(10px) rem(25px);
            }

            &--upper{
                display: flex;
                align-items: center;
                margin-top: rem(20px);
            }

            &--imagecontainer{
                width: rem(18px);
                height: rem(18px);
                border-radius: 100%;
                margin-right: rem(6px);
                overflow: hidden;
            }

            &--image{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            &--text{
                color: $chatarea-text;
                font-size: rem(14px);
                line-height: rem(18px);
            }

            &--lower{
                display: flex;
                gap: rem(10px);
                flex-direction: column;
                margin-top: rem(10px);
            }

            &--first{
                width: fit-content;
                background-color: $whiteColor;
                padding: rem(15px);
                border-radius: rem(20px);
                border-bottom-left-radius: rem(3px);
            }

            &--second{
                width: fit-content;
                background-color: $whiteColor;
                padding: rem(15px);
                border-radius: rem(20px);
                border-top-left-radius: rem(3px);
            }

            &--third{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: rem(10px);
                margin: 0 rem(30px);
            }

            &--option{
                background-color: $whiteColor;
                padding: rem(4px) rem(15px);
                color: $footer-link;
                border: rem(1px) solid $footer-link;
                border-radius: rem(15px);
                cursor: pointer;
            }

            &--fourth{
                width: 100%;
                display: flex;
                flex-direction: column;
            }

            &--user{
                padding: rem(10px) rem(5px);
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            &--usertext{
                color: $whiteColor;
                font-size: rem(16px);
                line-height: rem(18px);
                background-color: $footer-link;
                padding: rem(15px) rem(15px);
                margin-top: 5px;
                border-radius: rem(20px);
                border-bottom-right-radius: rem(4px);
            }
            
            &--fifth{
                display: flex;
                flex-direction: column;
                gap: rem(10px);
                display: none;
            }

            &--fifthdo{
                margin-top: rem(10px);
                background-color: $whiteColor;
                padding: rem(15px);
                border-radius: rem(20px);
                border-bottom-left-radius: rem(3px);
            }

            &--message1, &--message2{
                margin-top: rem(10px);
            }

            &--navigation{
                width: 100%;
                margin: 0 auto;
                height: rem(50px);
                display: flex;
                gap: rem(10px);
                justify-content: center;
                align-items: center;
                margin-top: rem(10px);
            }

            &--button1, &--button2{
                background-color: $whiteColor;
                padding: rem(8px) rem(15px);
                border: rem(1px) solid $footer-link;
                outline: none;
                font-size: rem(14px);
                font-weight: 700;
                color: $footer-link;
                border-radius: rem(20px);
                cursor: pointer;
            }

            &--startchat{
                background-color: $footer-link;
                color: $whiteColor;
                padding: rem(12px) rem(20px);
                border: 0;
                outline: none;
                font-size: rem(16px);
                font-weight: 700;
                border-radius: rem(4px);
                cursor: pointer;
            }
        }

        &-messages{
            background-color: $whiteColor;
            border-top: rem(1px) solid $messages-bg;
            height: rem(50px);
            padding-right: rem(20px);
            width: 100%;
            display: flex;
            align-items: center;

            &--input{
                font-size: rem(16px);
                line-height: rem(20px);
                height: 100%;
                width: 100%;
                padding: 0 rem(20px);
                border: 0;
                background-color: $whiteColor;
            }

            &--input::placeholder{
                color: $placeholder-text;
            }

            &--sendbtn{
                font-size: 1.2rem;
                cursor: pointer;
                color: $chat-secondaryText;
                transition: color 0.2s ease-in-out;
            }

            &--sendbtn:hover{
                color: $blackColor;
            }
        }

        &-footer{
            font-size: rem(12px);
            line-height: rem(16px);
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 1px solid $footer-border;
            background-color: $footer-bg;
            height: rem(35px);

            &--text{
                color: $chat-secondaryText;
            }
            
            &--link{
                text-decoration: none;
                color: $footer-link;
            }
        }
    }
}

@media(max-width: rem(990px)){
    .header{
        &__container{
            &-navbar{
                display: none;
            }
        }
    }
}