$nav-broderColor: rgb(234, 238, 243);
$blackColor: #000;
$whiteColor: #fff;
$signup-color: #ff2b00;
$crossicon-bg: rgba($blackColor, 0.4);
$crossicon-hover: rgba($blackColor, 0.3);
$logo-shadow: rgba($blackColor, 0.26);
$popup-textColor: rgba($blackColor, 0.1);
$popup-hover: rgba($blackColor, 0.17);
