$nav-broderColor: rgb(234, 238, 243);
$blackColor: #000;
$whiteColor: #fff;
$signup-color: #ff2b00;
$crossicon-bg: rgba($blackColor, 0.4);
$crossicon-hover: rgba($blackColor, 0.3);
$logo-shadow: rgba($blackColor, 0.26);
$popup-textColor: rgba($blackColor, 0.1);
$popup-hover: rgba($blackColor, 0.17);
$chat-container: rgba($blackColor, 0.25);
$active-status: rgb(105, 222, 64);
$chatimage-shadow: rgba($blackColor, 0.15);
$status-text: rgb(155, 166, 179);
$chat-shadow: rgba($blackColor, 0.25);
$chatlogo-shadow: rgba($blackColor, 0.35);
$chat-secondaryText: rgb(155, 166, 179);
$chatarea-bg: rgb(234, 238, 243);
$chatarea-text: rgb(24, 25, 25);
$messages-bg: rgb(234, 234 ,234);
$placeholder-text: rgb(150, 155, 166);
$footer-border: rgb(238, 238, 238);
$footer-bg: rgb(249, 249, 249);
$footer-link: rgb(18, 91, 251);
