.header {
    position: absolute;
    border-bottom: rem(1px) solid $nav-broderColor;
    width: 100%;
    margin: 0 auto;
    z-index: -10000;

    &__container {
        width: 100%;
        height: rem(90px);
        max-width: rem(1360px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5rem;

        &-logo {
            margin-top: 0.5rem;
        }

        &-navbar {
            margin-left: 2.5rem;
            margin-right: auto;
        }

        &-list {
            display: flex;
            align-items: center;
        }

        &-listitem {
            display: flex;
            align-items: center;
            margin: auto 0.75rem;
            cursor: pointer;
        }

        &-text {
            font-size: 1rem;
            padding: 0.75rem 1rem;
            font-weight: 700;
            text-decoration: none;
            color: $blackColor;
        }

        &-arrow {
            font-size: 1.3rem;
            padding-top: 0.2rem;
            cursor: pointer;
        }

        &-loginsignup {
            display: flex;
            align-items: center;
            font-weight: 700;
        }

        &-loginbtn {
            border: 1px solid $blackColor;
            min-width: 6rem;
            padding: 0.5rem 1rem;
            margin-right: 0.8rem;
            text-decoration: none;
            color: $blackColor;
            text-align: center;
            border-radius: rem(5px);
            transition: background-color 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: $blackColor;
                color: $whiteColor;
                border: none;
            }
        }

        &-signupbtn {
            background-color: $signup-color;
            border: 1px solid $signup-color;
            color: $whiteColor;
            min-width: 6rem;
            padding: 0.5rem 1rem;
            margin-right: 0.5rem;
            text-decoration: none;
            border-radius: rem(5px);
            // cursor: pointer;
        }
    }
}
