.header {
  position: absolute;
  border-bottom: 0.0625rem solid rgb(234, 238, 243);
  width: 100%;
  margin: 0 auto;
  z-index: -10000;
}
.header__container {
  width: 100%;
  height: 5.625rem;
  max-width: 85rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.header__container-logo {
  margin-top: 0.5rem;
}
.header__container-navbar {
  margin-left: 2.5rem;
  margin-right: auto;
}
.header__container-list {
  display: flex;
  align-items: center;
}
.header__container-listitem {
  display: flex;
  align-items: center;
  margin: auto 0.75rem;
}
.header__container-text {
  font-size: 1rem;
  padding: 0.75rem 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
.header__container-arrow {
  font-size: 1.3rem;
  padding-top: 0.2rem;
  cursor: pointer;
}
.header__container-loginsignup {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.header__container-loginbtn {
  border: 1px solid #000;
  min-width: 6rem;
  padding: 0.5rem 1rem;
  margin-right: 0.8rem;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.header__container-loginbtn:hover {
  background-color: #000;
  color: #fff;
  border: none;
}
.header__container-signupbtn {
  background-color: #ff2b00;
  border: 1px solid #ff2b00;
  color: #fff;
  min-width: 6rem;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  text-decoration: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.popup {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 17.5rem;
  height: 14rem;
  transition: all 0.3s;
  transform: translateY(0);
}
.popup__container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.popup__container-details {
  width: 15rem;
  margin: 1.25rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.3s;
}
.popup__container-crossicondiv {
  margin-bottom: 0.625rem;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  transition: all 0.3s;
  border-radius: 50%;
  cursor: pointer;
}
.popup__container-crossicondiv:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.popup__container-icon {
  padding: 0.625rem;
  text-align: center;
  font-size: 1.1rem;
}
.popup__container-text {
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  padding: 0.9375rem 1.25rem;
  width: 100%;
  line-height: 1.375rem;
  text-align: left;
  word-wrap: break-word;
  cursor: pointer;
}
.popup__container-text:hover {
  box-shadow: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.17);
}
.popup__container-logo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 100%;
  margin: 1.25rem;
  overflow: hidden;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}
.popup__container-logo:hover {
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.26);
}
.popup__container-image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.2s ease-in-out;
}
.popup__container-image:hover {
  opacity: 0.8;
}

.chatbox {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 25.625rem;
  height: 35.5625rem;
  z-index: 1000;
  transform: translateY(100%);
  transition: all 0.3s;
}
.chatbox__container {
  width: 23.125rem;
  height: 33.125rem;
  margin: 1.25rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.25);
  border-radius: 0.9375rem;
  overflow: hidden;
}
.chatbox__content {
  display: flex;
  flex-direction: column;
}
.chatbox__content-header {
  background-color: #fff;
  position: relative;
  height: 6.25rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}
.chatbox__content-header--crossicon {
  position: absolute;
  top: 1.125rem;
  right: 1.125rem;
}
.chatbox__content-header--icon {
  font-size: 1.5rem;
  cursor: pointer;
}
.chatbox__content-header--icon:hover {
  opacity: 0.5;
}
.chatbox__content-header--logo {
  width: 3.75rem;
  height: 3.75rem;
  margin-right: 1.375rem;
}
.chatbox__content-header--logocontainer {
  width: 100%;
  height: 100%;
  position: relative;
}
.chatbox__content-header--status {
  height: 0.625rem;
  width: 0.625rem;
  background-color: rgb(105, 222, 64);
  border: 0.0625rem solid #fff;
  border-radius: 100%;
  position: absolute;
  bottom: 7%;
  right: 7%;
}
.chatbox__content-header--imagecontainer {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 0 0.4375rem 0 rgba(0, 0, 0, 0.35);
}
.chatbox__content-header--image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.chatbox__content-header--maintext {
  font-size: 1.5rem;
  line-height: 1.9375rem;
  font-weight: 600;
}
.chatbox__content-header--description {
  color: rgb(155, 166, 179);
  line-height: 1.1875rem;
}
.chatbox__content-chatarea {
  height: 21.5625rem;
  overflow-y: scroll;
  width: 100%;
  background-color: rgb(234, 238, 243);
}
.chatbox__content-chatarea--chatdetails {
  padding: 0.625rem 1.5625rem;
}
.chatbox__content-chatarea--upper {
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
}
.chatbox__content-chatarea--imagecontainer {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 100%;
  margin-right: 0.375rem;
  overflow: hidden;
}
.chatbox__content-chatarea--image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.chatbox__content-chatarea--text {
  color: rgb(24, 25, 25);
  font-size: 0.875rem;
  line-height: 1.125rem;
}
.chatbox__content-chatarea--lower {
  display: flex;
  gap: 0.625rem;
  flex-direction: column;
  margin-top: 0.625rem;
}
.chatbox__content-chatarea--first {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
  padding: 0.9375rem;
  border-radius: 1.25rem;
  border-bottom-left-radius: 0.1875rem;
}
.chatbox__content-chatarea--second {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
  padding: 0.9375rem;
  border-radius: 1.25rem;
  border-top-left-radius: 0.1875rem;
}
.chatbox__content-chatarea--third {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin: 0 1.875rem;
}
.chatbox__content-chatarea--option {
  background-color: #fff;
  padding: 0.25rem 0.9375rem;
  color: rgb(18, 91, 251);
  border: 0.0625rem solid rgb(18, 91, 251);
  border-radius: 0.9375rem;
  cursor: pointer;
}
.chatbox__content-chatarea--fourth {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.chatbox__content-chatarea--user {
  padding: 0.625rem 0.3125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.chatbox__content-chatarea--usertext {
  color: #fff;
  font-size: 1rem;
  line-height: 1.125rem;
  background-color: rgb(18, 91, 251);
  padding: 0.9375rem 0.9375rem;
  margin-top: 5px;
  border-radius: 1.25rem;
  border-bottom-right-radius: 0.25rem;
}
.chatbox__content-chatarea--fifth {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  display: none;
}
.chatbox__content-chatarea--fifthdo {
  margin-top: 0.625rem;
  background-color: #fff;
  padding: 0.9375rem;
  border-radius: 1.25rem;
  border-bottom-left-radius: 0.1875rem;
}
.chatbox__content-chatarea--message1, .chatbox__content-chatarea--message2 {
  margin-top: 0.625rem;
}
.chatbox__content-chatarea--navigation {
  width: 100%;
  margin: 0 auto;
  height: 3.125rem;
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
  margin-top: 0.625rem;
}
.chatbox__content-chatarea--button1, .chatbox__content-chatarea--button2 {
  background-color: #fff;
  padding: 0.5rem 0.9375rem;
  border: 0.0625rem solid rgb(18, 91, 251);
  outline: none;
  font-size: 0.875rem;
  font-weight: 700;
  color: rgb(18, 91, 251);
  border-radius: 1.25rem;
  cursor: pointer;
}
.chatbox__content-chatarea--startchat {
  background-color: rgb(18, 91, 251);
  color: #fff;
  padding: 0.75rem 1.25rem;
  border: 0;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.25rem;
  cursor: pointer;
}
.chatbox__content-messages {
  background-color: #fff;
  border-top: 0.0625rem solid rgb(234, 234, 234);
  height: 3.125rem;
  padding-right: 1.25rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.chatbox__content-messages--input {
  font-size: 1rem;
  line-height: 1.25rem;
  height: 100%;
  width: 100%;
  padding: 0 1.25rem;
  border: 0;
  background-color: #fff;
}
.chatbox__content-messages--input::-moz-placeholder {
  color: rgb(150, 155, 166);
}
.chatbox__content-messages--input::placeholder {
  color: rgb(150, 155, 166);
}
.chatbox__content-messages--sendbtn {
  font-size: 1.2rem;
  cursor: pointer;
  color: rgb(155, 166, 179);
  transition: color 0.2s ease-in-out;
}
.chatbox__content-messages--sendbtn:hover {
  color: #000;
}
.chatbox__content-footer {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(238, 238, 238);
  background-color: rgb(249, 249, 249);
  height: 2.1875rem;
}
.chatbox__content-footer--text {
  color: rgb(155, 166, 179);
}
.chatbox__content-footer--link {
  text-decoration: none;
  color: rgb(18, 91, 251);
}

@media (max-width: 61.875rem) {
  .header__container-navbar {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
  width: 100vw;
}/*# sourceMappingURL=styles.css.map */