.header {
  border-bottom: 1px solid rgb(234, 238, 243);
  width: 100%;
  margin: 0 auto;
}
.header__container {
  width: 100%;
  height: 90px;
  max-width: 1360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.header__container-logo {
  margin-top: 0.5rem;
}
.header__container-navbar {
  margin-left: 2.5rem;
  margin-right: auto;
}
.header__container-list {
  display: flex;
  align-items: center;
}
.header__container-listitem {
  display: flex;
  align-items: center;
  margin: auto 0.75rem;
}
.header__container-text {
  font-size: 1rem;
  padding: 0.75rem 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
.header__container-arrow {
  font-size: 1.3rem;
  padding-top: 0.2rem;
  cursor: pointer;
}
.header__container-loginsignup {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.header__container-loginbtn {
  border: 1px solid #000;
  min-width: 6rem;
  padding: 0.5rem 1rem;
  margin-right: 0.8rem;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.header__container-loginbtn:hover {
  background-color: #000;
  color: #fff;
  border: none;
}
.header__container-signupbtn {
  background-color: #ff2b00;
  border: 1px solid #ff2b00;
  color: #fff;
  min-width: 6rem;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 280px;
  height: 224px;
  transition: all 0.3s;
}
.popup__container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.popup__container-details {
  width: 240px;
  margin: 20px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.3s;
}
.popup__container-crossicondiv {
  margin-bottom: 10px;
  opacity: 1;
}
.popup__container-crossicon {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  transition: all 0.3s;
  border-radius: 50%;
  cursor: pointer;
}
.popup__container-crossicon:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.popup__container-icon {
  padding: 10px;
  text-align: center;
  font-size: 1.1rem;
}
.popup__container-text {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  border-radius: 6px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  padding: 15px 20px;
  width: 100%;
  line-height: 22px;
  text-align: left;
  word-wrap: break-word;
  cursor: pointer;
}
.popup__container-text:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.17);
}
.popup__container-logo {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 20px;
  overflow: hidden;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}
.popup__container-logo:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.26);
}
.popup__container-image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.2s ease-in-out;
}
.popup__container-image:hover {
  opacity: 0.8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}/*# sourceMappingURL=styles.css.map */